@model List<JustGive.Models.Tag>
@{
    ViewBag.Title = "Tags";
}

<h2>@ViewBag.Title</h2>
@foreach (var tag in Model)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Label("Name", "Name:")
            <p>@tag.Name</p>
            @if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm(actionName: "Details", controllerName: "Tag",
                        method: FormMethod.Get, routeValues: new { id = tag.TagId }))
                {
                    <button class=" btn btn-primary">Details</button>
                }
            }

        </div>
    </div>
}


@using (Html.BeginForm(actionName: "New", controllerName: "Tag", method: FormMethod.Get))
{
    <button class="btn btn-primary">Add new Tag</button>
}

